<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liwei08.mapper.TbUrlMapper">
    <resultMap id="BaseResultMap" type="cn.liwei08.entity.TbUrl">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="base_url" property="baseUrl" jdbcType="VARCHAR"/>
        <result column="chapter_find" property="chapterFind" jdbcType="VARCHAR"/>
        <result column="for_fearch" property="forFearch" jdbcType="BIT"/>
        <result column="movie_find" property="movieFind" jdbcType="VARCHAR"/>
        <result column="pin_yin_title" property="pinYinTitle" jdbcType="VARCHAR"/>
        <result column="search_find" property="searchFind" jdbcType="VARCHAR"/>
        <result column="search_url" property="searchUrl" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="BIGINT"/>
    </resultMap>
    <select id="queryTbUrl" resultMap="BaseResultMap">
        select *
        from  manger.tb_url;
    </select>
</mapper>