<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liwei08.mapper.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="cn.liwei08.entity.CustomerInfo">
    <id column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_stopMark" jdbcType="INTEGER" property="customerStopmark" />
    <result column="customer_createTime" jdbcType="TIMESTAMP" property="customerCreatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    customer_id, customer_name, customer_stopMark, customer_createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_info
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer_info
    where customer_id = #{customerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.liwei08.entity.CustomerInfo">
    insert into customer_info (customer_id, customer_name, customer_stopMark, 
      customer_createTime)
    values (#{customerId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, #{customerStopmark,jdbcType=INTEGER}, 
      #{customerCreatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.liwei08.entity.CustomerInfo">
    insert into customer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="customerStopmark != null">
        customer_stopMark,
      </if>
      <if test="customerCreatetime != null">
        customer_createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerStopmark != null">
        #{customerStopmark,jdbcType=INTEGER},
      </if>
      <if test="customerCreatetime != null">
        #{customerCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.liwei08.entity.CustomerInfo">
    update customer_info
    <set>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerStopmark != null">
        customer_stopMark = #{customerStopmark,jdbcType=INTEGER},
      </if>
      <if test="customerCreatetime != null">
        customer_createTime = #{customerCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.liwei08.entity.CustomerInfo">
    update customer_info
    set customer_name = #{customerName,jdbcType=VARCHAR},
      customer_stopMark = #{customerStopmark,jdbcType=INTEGER},
      customer_createTime = #{customerCreatetime,jdbcType=TIMESTAMP}
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
  
  <select id="listAllCustomerInfo" resultMap="BaseResultMap">
    select customer_id,customer_name,customer_stopMark,customer_createTime,
        (CASE customer_stopMark
        WHEN '1' THEN '暂停维护'
        WHEN '0' THEN' 维护中'
        ELSE '未知'
        END) AS customer_stopMark_item
    from
        customer_info
    <if test="flag!=2">
      WHERE customer_stopMark = #{flag}
    </if>
  </select>

  <!-- 修改医院信息 -->
  <update id="updateCustomer">
    UPDATE customer_info
    <set>
      <if test="customerName != null">customer_name=#{customerName}</if>
      WHERE customer_id = #{customerId}
    </set>
  </update>


  <!-- 添加医院信息 -->
  <insert id="addCustomer" useGeneratedKeys="true" keyProperty="customer_id">
    INSERT INTO customer_info
    VALUES
      (#{customerId},#{customerName},#{customerStopMark})
  </insert>

  <!-- 查询单个 -->
  <select id="findOneByCustomerId" resultType="cn.liwei08.entity.CustomerInfo" parameterType="integer">
    SELECT
      customer_id,customer_name,customer_stopMark
    FROM
      customer_info
    WHERE
      customer_id =#{customerId}
  </select>

  <!--按照条件查询（是否处于维护状态来查询）  -->
  <select id="countCustomer" parameterType="Integer" resultType="Integer">
    SELECT count(customer_id) FROM hospital.customer_info
    <if test="flag!=2">
      WHERE customer_stopMark = #{flag}
    </if>
  </select>

  <!--查找行数-->
  <select id="countCustomerByName" parameterType="String" resultType="Integer">
    SELECT
      COUNT(customer_id)
    FROM
      customer_info
    WHERE
      customer_name = #{customerName};
  </select>

  <!-- deleteCustomer -->
  <delete id="deleteCustomer">

  </delete>
</mapper>