<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liwei08.mapper.HospitalUserMapper">
  <resultMap id="BaseResultMap" type="cn.liwei08.entity.HospitalUser">
    <id column="hospital_user_id" jdbcType="BIGINT" property="hospitalUserId" />
    <result column="hospital_user_name" jdbcType="VARCHAR" property="hospitalUserName" />
    <result column="hospital_user_phone" jdbcType="VARCHAR" property="hospitalUserPhone" />
    <result column="hospital_user_stopMark" jdbcType="INTEGER" property="hospitalUserStopmark" />
    <result column="hospital_info" jdbcType="INTEGER" property="hospitalInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    hospital_user_id, hospital_user_name, hospital_user_phone, hospital_user_stopMark, 
    hospital_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_user
    where hospital_user_id = #{hospitalUserId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hospital_user
    where hospital_user_id = #{hospitalUserId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.liwei08.entity.HospitalUser">
    insert into hospital_user (hospital_user_id, hospital_user_name, 
      hospital_user_phone, hospital_user_stopMark, 
      hospital_info)
    values (#{hospitalUserId,jdbcType=BIGINT}, #{hospitalUserName,jdbcType=VARCHAR}, 
      #{hospitalUserPhone,jdbcType=VARCHAR}, #{hospitalUserStopmark,jdbcType=INTEGER}, 
      #{hospitalInfo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.liwei08.entity.HospitalUser">
    insert into hospital_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hospitalUserId != null">
        hospital_user_id,
      </if>
      <if test="hospitalUserName != null">
        hospital_user_name,
      </if>
      <if test="hospitalUserPhone != null">
        hospital_user_phone,
      </if>
      <if test="hospitalUserStopmark != null">
        hospital_user_stopMark,
      </if>
      <if test="hospitalInfo != null">
        hospital_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hospitalUserId != null">
        #{hospitalUserId,jdbcType=BIGINT},
      </if>
      <if test="hospitalUserName != null">
        #{hospitalUserName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalUserPhone != null">
        #{hospitalUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="hospitalUserStopmark != null">
        #{hospitalUserStopmark,jdbcType=INTEGER},
      </if>
      <if test="hospitalInfo != null">
        #{hospitalInfo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.liwei08.entity.HospitalUser">
    update hospital_user
    <set>
      <if test="hospitalUserName != null">
        hospital_user_name = #{hospitalUserName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalUserPhone != null">
        hospital_user_phone = #{hospitalUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="hospitalUserStopmark != null">
        hospital_user_stopMark = #{hospitalUserStopmark,jdbcType=INTEGER},
      </if>
      <if test="hospitalInfo != null">
        hospital_info = #{hospitalInfo,jdbcType=INTEGER},
      </if>
    </set>
    where hospital_user_id = #{hospitalUserId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.liwei08.entity.HospitalUser">
    update hospital_user
    set hospital_user_name = #{hospitalUserName,jdbcType=VARCHAR},
      hospital_user_phone = #{hospitalUserPhone,jdbcType=VARCHAR},
      hospital_user_stopMark = #{hospitalUserStopmark,jdbcType=INTEGER},
      hospital_info = #{hospitalInfo,jdbcType=INTEGER}
    where hospital_user_id = #{hospitalUserId,jdbcType=BIGINT}
  </update>
</mapper>